@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	background: #EEE;
	font-weight: 400;
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	transition: .5s;
}
#container{
	background: #FFF;
	max-width: 800px;
	margin: auto;
}
#flex{
	display: flex;
    flex-flow: row nowrap;
}
@media screen and (max-width: 500px) {
	#flex{
		display: flex;
		flex-flow: column nowrap;
		align-items: stretch;
	}	
}
#sideimage{
	background: url("../images/hero-desktop.jpg") no-repeat;
	background-size:cover;
	width: 100vw;
	order: 3;
}
@media screen and (max-width: 500px) {
	#sideimage{
		background: url("../images/hero-mobile.jpg") no-repeat;
		background-size: cover;
		width: 100vw;
		height: 250px;
		order: 2;
		flex: 1 1 auto;
	}	
}
#text{
	background: url("../images/bg-pattern-desktop.svg") no-repeat;
	background-size:cover;
	padding-top: 40px;
	padding-left: 100px;
	padding-right: 50px;
	padding-bottom: 100px;
	order: 2;
}
@media screen and (max-width: 500px) {
	#text{
		background: url("../images/bg-pattern-desktop.svg") no-repeat;
		background-size:cover;
		padding-left: 20px;
		padding-right: 20px;
		order: 3;
	}	
}
#logo{
	position:relative;
	padding-bottom: 40px;
	order: 1;
	display: block;
}
#logo_mobile{
	display: none;
}
@media screen and (max-width: 500px) {
	#logo_mobile{
		position:relative;
		left: 100px;
		top: 20px;
		padding-bottom: 40px;
		order: 1;
		display: block;
	}
	#logo{
		display: none;
	}
}
#comingsoon{
	font-size: 50px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 6px;
	color: hsl(0, 36%, 70%);
	max-width: 300px;
}
#comingsoon b{
	font-weight: 500;
	color: hsl(0, 6%, 24%);
}
#content{
	padding-top: 40px;
	font-weight: 400;
	color: hsl(0, 36%, 70%);
}
#emailform{
	padding: 10px;
	padding-left: 30px;
	line-height: 22px;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	border-color: hsl(0, 36%, 70%);
	height: 20px;
	color: hsl(0, 36%, 70%);
	width: 200px;
	margin: auto;
	margin-top: 30px;
}
#submit{
	position: relative;
	left: 140px;
	top: -80px;
	background-image: url("../images/icon-arrow.svg"), linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;
	height: 42px;
	width: 70px;
}
#emailform input{
	border-style: none;
	height: 30px;
	color: hsl(0, 36%, 70%);
	margin-top: -26px;
}
textarea:focus, input:focus{
    outline: none;
}
#error{
	position: relative;
	left: 100px;
	top: -38px;
	background-image: url("../images/icon-error.svg");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;
	height: 42px;
	width: 40px;
	opacity: 0;
}
#mailerror{
	padding: 20px;
	color: red;
	display: none;
	font-size: 14px;
}
